{
  "ignorePatterns": ["**/*"],
  "overrides": [
    {
      "files": ["*.js"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest/style",
        "prettier"
      ],
      "env": {
        "es2022": true,
        "jest/globals": true,
        "browser": true
      },
      "parserOptions": {
        "ecmaVersion": 2022,
        "ecmaFeatures": {
          "impliedStrict": true
        }
      },
      "plugins": ["prettier", "jest"],
      "rules": {
        "consistent-return": ["off"],
        "no-param-reassign": ["error", {"ignorePropertyModificationsFor": ["consoleElement"]}],
        "no-console": ["warn", {"allow": ["warn", "error"]}],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "prettier/prettier": [
          "error",
          {
            "trailingComma": "es5",
            "tabWidth": 2,
            "semi": true,
            "singleQuote": true
          }
        ]
      }
    },
    {
      "files": [
        "*.html"
      ],
      "excludedFiles": [
        "*inline-template-*.component.html"
      ],
      "extends": [
        "plugin:prettier/recommended"
      ]
    }
  ]
}
