{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "consistent-return": ["off"],
    "no-param-reassign": ["error", {"ignorePropertyModificationsFor": ["consoleElement"]}],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": ["warn", {"allow": ["warn", "error"]}],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true
      }
    ]
  }
}
